<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="DepotPath" value="D:\gastanica_RO-3050829_5456\EAOS\QECS\TOOLS\GatorScripts"/>
  <add key="GatorScriptMachineLocation" value="Users\Automationcqa\Desktop\GatorScripts"/>
  <add key="ProjectsFiles" value="StarWars_Heroes"/>
  <add key="DestinationsMachines" value="RO-3106607,RO-102855,RO-3106601,RO-3105475"/>
</appSettings>
</configuration>